<!--
By Daniel Liu
Replaced the index.html file in Adafruits github flask. The file is located in the templates folder.
This file is the website for project Obi. The goal was a simplistic look and giving the 
user the ability to change the zip code, open and close window online and to check 
the weather.
-->
﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>OBI</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <!--
    Header for webpage
    -->
    <header>
        <h1 style="text-align: center">OBI</h1>
        <p style="text-align: center;">Powered by wunderground</p>
    </header>
    <main>
        <!--
        Display weather
        -->
        <section style="text-align: center; float: right; width: 50%;">
            <form>
                <label>Current Zip Code:</label>
                <p style="text-align: center;" id="zip"></p>
            </form>
            
            <script>
                var zip_code = {{zip_code}}; //Get window status from python
                document.getElementById("zip").innerHTML = zip_code;
            </script> 
            <form style="text-align: center;" action="send" method="post">
                <label>Zip Code:</label>
                <input id="address" name="address" type="text" placeholder="eg. 10012" onkeydown="if (event.keyCode == 13) document.getElementById('address').click()"/>
                <button id="submit" name="submit" onclick="codeAddress()">Submit</button> <br />           
                <label>Latitude:</label> <input type="text" name="lat" id="lat" readonly/> <br />
                <label>Longitude:</label> <input type="text" name="long" id="long" readonly/>    
            </form>

            <form>
                <iframe id="forecast_embed" name="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" > </iframe>
            </form>
        </section>

        <!--
        Display window status and button
        -->
        <section style="text-align: center; float: left; width: 50%;">   
            <!--
            Javascript to find longitude and latitude using zip code
            -->
            <script>
                var address = {{zip_code}}; //Get zip from raspberry pi
                document.getElementById("address").value = address;
                var lng;
                var lat;
                $.ajax({
                    url: "http://maps.googleapis.com/maps/api/geocode/xml?address=" + address + "&sensor=false", success: function (data) {
                        lat = $(data).find("location").find("lat").first().text()
                        lng = $(data).find("location").find("lng").first().text()
                        document.getElementById("long").value = lng;
                        document.getElementById("lat").value = lat;
                        document.getElementById("forecast_embed").src = "http://forecast.io/embed/#lat=" + lat + "&lon=" + lng + "&name=Zip Code: " + address;
                    }
                });

                function codeAddress() {
                    var address = document.getElementById('address').value;
                    var zip = /(^\d{5}$)|(^\d{5}-\d{4}$)/;                    
                    var lng;
                    var lat;
                    if (zip.test(address)) {
                        document.getElementById("zip").innerHTML = address;
                        $.ajax({
                            url: "http://maps.googleapis.com/maps/api/geocode/xml?address=" + address + "&sensor=false", success: function (data) {
                                lat = $(data).find("location").find("lat").first().text()
                                lng = $(data).find("location").find("lng").first().text()
                                document.getElementById("long").value = lng;
                                document.getElementById("lat").value = lat;
                                document.getElementById("forecast_embed").src = "http://forecast.io/embed/#lat=" + lat + "&lon=" + lng + "&name=Zip Code: " + address;
                            }
                        });
                    }
                    else {
                        alert("Not a valid US zip code");
                    }
                }
            </script>

            <h3 style="text-align: center;">Open or Close Window</h3>
            <h5 style="text-align: center;">Click button to open or close your actual window in your home and click stop to stop opening or closing your window</h5>
            <form style="text-align: center;" action="window" method="post">
                <input type="submit" name="submit" value="Open">
                <input type="submit" name="submit" value="Close">
            </form> 
            <!--
            Display picture of window based on whether it is open or close
            -->
            <form style="text-align: center;">
                <h4>Window Status:</h4>
                <span id="status"></span>
                <br />
                <img id="win_pic" style="height: auto; width: 200px;"/>
                <script>
                	var window_status = {{window}}; //Get window status from python
                    if(window_status === 0){//get from python
                        document.getElementById("win_pic").src = "http://newyorksash.com/wp-content/uploads/2012/04/casement_window.jpg";
                        document.getElementById("status").innerHTML = "Opened"; 
                    }
                    else{
                        document.getElementById("win_pic").src = "http://www.mumfordwood.com/images/product/french-casement/operation/French-Casement-In-Closed.jpg";
                        document.getElementById("status").innerHTML = "Closed"; 
                    }
                </script>
            </form>         
        </section>
    </main>
</body>
</html>